@import "color";

.doneTrue {
  text-decoration: line-through;
color:$color-gray}
.false{
  color: $color-dark;

}
.button-trash {
  background-color: white;
  border: 0;
  
  .trash {
    width: 20px;
    height: 21px;
    color: $color-red;
  
  }
}
#checkbox {
  background: white;
  display: inline-block;
  // padding:15px 18px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;


  #checkbox-element {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    z-index: 99999;
    opacity: 0;
  }
}

#checkbox > input[type="checkbox"] + .icon-check {
  color: rgba(241, 230, 230, 0); // color 1
  box-sizing: border-box;
  border: 1px solid $color-gray;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

#checkbox > input[type="checkbox"]:checked + .icon-check {
  border: 1px solid $color-green;
  border-radius: 50%;
  color: $color-green;
  width: 30px;
  height: 30px; //color 2
}
