.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .list {
    width: 48vw;
    margin: auto;
    border-color: #797979;
    border-radius: 11px;
  }
}
@media (max-width: 750px) {
  .container {
    display: flex;
    flex-direction: column;
    .list {
      width: 80vw;
      margin: auto;
    }
  }
  .form {
    width: 60vw;
  }
}
